<li>
    <a href="javascript: void(0);" class="unread-msg-user">
        <div class="d-flex align-items-center">
            <div class="flex-shrink-0 chat-user-img away align-self-center me-2 ms-0">
                <div class="avatar-xxs">
                    <img src="/assets/images/users/avatar-6.jpg" class="rounded-circle img-fluid userprofile" alt="">
                </div>
                <span class="user-status"></span>
            </div>
            <div class="flex-grow-1 overflow-hidden">
                <p class="text-truncate mb-0">Nellie Cornett</p>
            </div>
            <div class="flex-shrink-0">
                <span class="badge badge-soft-dark rounded p-1">2</span>
            </div>
        </div>
    </a>
</li>