<li data-id="<%= selectedUser.id %>" class="select-user  <%= active ? 'active' : '' %>">
    <a href="#" class="unread-msg-user">
        <div class="d-flex align-items-center">
            <div class="flex-shrink-0 chat-user-img align-self-center me-2 ms-0">
                <div class="avatar-xxs">
                    <img crossorigin="anonymous" src="<%= selectedUser.photo %>"
                        class="rounded-circle img-fluid userprofile" alt="">
                </div>
                <span class="user-status"></span>
            </div>
            <div class="flex-grow-1 overflow-hidden">
                <p class="text-truncate mb-0">
                    <%= selectedUser.username? selectedUser.username : selectedUser.email %>
                </p>
            </div>
        </div>
    </a>
</li>